{% extends 'base.html'%}
{% block title %} search-result {%endblock title %}
{% block blogactive %} active {% endblock blogactive %}
{% block body %}


<style type="text/css">
  .btn{
    color: white;
    background-color: blue;
  }
</style>

    
<div class="container">
      <h1>Coding Articals by Technology </h1>
      {% for post in allPosts %}


  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative my-4">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-body-secondary">{{post.datetime}}</div>
          <p class="card-text mb-auto">{{post.content}}</p>
          <div class="my-2"></div>
          <a href="/blogpost" role='button' class="btn btn-primary">Raed More</a>
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
      
      </div>
    </div>
          {% endfor %}

</div>
{% endblock body %}
